# Gradient Descent Algorithm

**Importing all the necessary libraries**

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('C:\\users\\91701\\OneDrive\\Desktop\\Salary_Data.csv')

In [5]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [6]:
df.shape

(30, 2)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [8]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [35]:
def step(data,learning_rate,m,c):
    for i in range(len(data)):
        x = data.iloc[i][0]
        y = data.iloc[i][1]
        m = m - learning_rate*((-2/len(data))*(y-m*x-c)*x)
        c = c - learning_rate*((-2/len(data))*(y-m*x-c))
    return m,c

In [39]:
def cost_function(data,m,c):
    cost = 0
    for i in range(len(data)):
        x = data.iloc[i][0]
        y = data.iloc[i][1]
        cost = cost + ((1/len(data))*((y-m*x-c)**2))
    return cost

In [46]:
def gradient_descent(data,learning_rate,no_of_iterations):
    m = 0
    c = 0
    for i in range(no_of_iterations):
        m,c = step(data,learning_rate,m,c)
        print("for iteration number",i+1," ",'cost: ',cost_function(data,m,c))
    return m,c

In [50]:
learning_rate = 0.1
no_of_iterations = 100
m,c = gradient_descent(df,learning_rate,no_of_iterations)
print("The intercept is:",c)
print("The slope is: ",m)

for iteration number 1   cost:  205557601.2333649
for iteration number 2   cost:  193226040.84142473
for iteration number 3   cost:  181807891.2228892
for iteration number 4   cost:  171195003.74235275
for iteration number 5   cost:  161330866.7274115
for iteration number 6   cost:  152162926.06171584
for iteration number 7   cost:  143642306.8215346
for iteration number 8   cost:  135723556.04095545
for iteration number 9   cost:  128364403.45005144
for iteration number 10   cost:  121525538.93060827
for iteration number 11   cost:  115170405.52174112
for iteration number 12   cost:  109265006.88927749
for iteration number 13   cost:  103777728.24862343
for iteration number 14   cost:  98679169.80139567
for iteration number 15   cost:  93941991.81171599
for iteration number 16   cost:  89540770.50911923
for iteration number 17   cost:  85451864.06179926
for iteration number 18   cost:  81653287.91674004
for iteration number 19   cost:  78124598.85239987
for iteration number 20   cost:  74846787.13532257
for iteration number 21   cost:  71802176.21454899
for iteration number 22   cost:  68974329.42724375
for iteration number 23   cost:  66347963.225729056
for iteration number 24   cost:  63908866.47032522
for iteration number 25   cost:  61643825.36421851
for iteration number 26   cost:  59540553.636175126
for iteration number 27   cost:  57587627.60445095
for iteration number 28   cost:  55774425.78085431
for iteration number 29   cost:  54091072.69774188
for iteration number 30   cost:  52528386.662880935
for iteration number 31   cost:  51077831.16772396
for iteration number 32   cost:  49731469.6938102
for iteration number 33   cost:  48481923.67983985
for iteration number 34   cost:  47322333.42855423
for iteration number 35   cost:  46246321.74798164
for iteration number 36   cost:  45247960.13595998
for iteration number 37   cost:  44321737.33019553
for iteration number 38   cost:  43462530.0585323
for iteration number 39   cost:  42665575.83565572
for iteration number 40   cost:  41926447.663199365
for iteration number 41   cost:  41241030.50020918
for iteration number 42   cost:  40605499.38022161
for iteration number 43   cost:  40016299.059851624
for iteration number 44   cost:  39470125.0918302
for iteration number 45   cost:  38963906.22291011
for iteration number 46   cost:  38494788.02401646
for iteration number 47   cost:  38060117.66648969
for iteration number 48   cost:  37657429.76428726
for iteration number 49   cost:  37284433.20761108
for iteration number 50   cost:  36938998.91863368
for iteration number 51   cost:  36619148.46484154
for iteration number 52   cost:  36323043.47001918
for iteration number 53   cost:  36048975.76708876
for iteration number 54   cost:  35795358.24091861
for iteration number 55   cost:  35560716.31283916
for iteration number 56   cost:  35343680.021979205
for iteration number 57   cost:  35142976.661669984
for iteration number 58   cost:  34957423.932085566
for iteration number 59   cost:  34785923.57299921
for iteration number 60   cost:  34627455.44306213
for iteration number 61   cost:  34481072.01435829
for iteration number 62   cost:  34345893.25317299
for iteration number 63   cost:  34221101.85994439
for iteration number 64   cost:  34105938.843257904
for iteration number 65   cost:  33999699.40449893
for iteration number 66   cost:  33901729.11141642
for iteration number 67   cost:  33811420.340368345
for iteration number 68   cost:  33728208.9684363
for iteration number 69   cost:  33651571.297910355
for iteration number 70   cost:  33581021.19687008
for iteration number 71   cost:  33516107.440724876
for iteration number 72   cost:  33456411.240636304
for iteration number 73   cost:  33401543.945728518
for iteration number 74   cost:  33351144.906909626
for iteration number 75   cost:  33304879.49097817
for iteration number 76   cost:  33262437.234481372
for iteration number 77   cost:  33223530.127528444
for iteration number 78   cost:  33187891.018447965
for iteration number 79   cost:  33155272.13081557
for iteration number 80   cost:  33125443.68497114
for iteration number 81   cost:  33098192.616696395
for iteration number 82   cost:  33073321.386236385
for iteration number 83   cost:  33050646.87132605
for iteration number 84   cost:  33029999.33832545
for iteration number 85   cost:  33011221.48598205
for iteration number 86   cost:  32994167.556720108
for iteration number 87   cost:  32978702.510715798
for iteration number 88   cost:  32964701.258347757
for iteration number 89   cost:  32952047.9469226
for iteration number 90   cost:  32940635.29786085
for iteration number 91   cost:  32930363.990797225
for iteration number 92   cost:  32921142.091296725
for iteration number 93   cost:  32912884.519119583
for iteration number 94   cost:  32905512.554182764
for iteration number 95   cost:  32898953.377565835
for iteration number 96   cost:  32893139.645094734
for iteration number 97   cost:  32888009.09120994
for iteration number 98   cost:  32883504.16098651
for iteration number 99   cost:  32879571.66832257
for iteration number 100   cost:  32876162.478452556
The intercept is: 27075.12473915582
The slope is:  9074.445380755842